In [2]:
import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
%matplotlib inline


import warnings
warnings.filterwarnings('ignore');

In [3]:
test=pd.read_csv("test.csv")

In [4]:
test['age'] = pd.cut(test['age'], bins = [0, 25, 50, 100], labels = ['Young', 'Adult', 'Old'])

In [5]:
test['captial diff']=test['capital-gain'] - test['capital-loss']

In [6]:
test.drop('capital-gain',axis=1,inplace=True)

In [7]:
test.drop('capital-loss',axis=1,inplace=True)

In [8]:
test['captial diff']=pd.cut(test['captial diff'],bins=[-5000,5000,100000], labels=['minor','major'])

In [9]:
test.drop(['fnlwgt'],axis=1,inplace=True)

In [10]:
test['hours-per-week']=pd.cut(test['hours-per-week'],bins=[0,30,40,100], labels=['lesser hours','normal hours','extra hours'])

In [11]:
test = test.drop(test[test['workclass'] == 'Without-pay'].index)

In [12]:
test = test.drop(test[test['workclass'] == 'Never-worked'].index)

In [13]:
test.drop(['educational-num'], axis = 1, inplace = True)

In [14]:
test['education'].replace(['12th','7th-8th','9th','10th','11th','Preschool','5th-6th','1st-4th'],'School',inplace=True)

In [15]:
test['race'].replace(['Black','Asian-Pac-Islander','Other','Amer-Indian-Eskimo'],'Other',inplace=True)

In [16]:
test['race'].value_counts()

White    775
Other    124
Name: race, dtype: int64

In [17]:
countries=np.array(test['native-country'].unique())
countries

array(['Portugal', 'United-States', 'Mexico', 'Trinadad&Tobago', 'Poland',
       'Columbia', 'Puerto-Rico', 'Cambodia', 'Canada', 'Thailand',
       'El-Salvador', 'Jamaica', 'Italy', 'Ecuador', 'Philippines',
       'China', 'Greece', 'Nicaragua', 'Taiwan', 'Laos', 'Cuba',
       'England', 'France', 'India', 'Guatemala', 'Germany', 'Haiti',
       'South', 'Dominican-Republic'], dtype=object)

In [19]:
countries=np.delete(countries,1)
countries

array(['Portugal', 'Trinadad&Tobago', 'Poland', 'Columbia', 'Puerto-Rico',
       'Cambodia', 'Canada', 'Thailand', 'El-Salvador', 'Jamaica',
       'Italy', 'Ecuador', 'Philippines', 'China', 'Greece', 'Nicaragua',
       'Taiwan', 'Laos', 'Cuba', 'England', 'France', 'India',
       'Guatemala', 'Germany', 'Haiti', 'South', 'Dominican-Republic'],
      dtype=object)

In [20]:
test['native-country'].replace(countries,'Other',inplace=True)

In [22]:
test['native-country'].value_counts()

United-States    819
Other             67
Mexico            13
Name: native-country, dtype: int64

In [23]:
test['native-country'].replace('Mexico','Other',inplace=True)

In [24]:
test['native-country'].value_counts()

United-States    819
Other             80
Name: native-country, dtype: int64

In [25]:
test.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,captial diff
0,Adult,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,normal hours,Other,minor
1,Adult,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,Husband,White,Male,extra hours,United-States,minor
2,Adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,Other,Male,normal hours,United-States,minor
3,Young,Private,School,Never-married,Handlers-cleaners,Own-child,White,Male,lesser hours,United-States,minor
4,Adult,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,normal hours,United-States,minor

In [26]:
X_test=test

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,captial diff
0,Adult,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,normal hours,Other,minor
1,Adult,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,Husband,White,Male,extra hours,United-States,minor
2,Adult,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,Other,Male,normal hours,United-States,minor
3,Young,Private,School,Never-married,Handlers-cleaners,Own-child,White,Male,lesser hours,United-States,minor
4,Adult,Self-emp-not-inc,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,normal hours,United-States,minor

In [28]:
X_test = pd.get_dummies(X_test)

In [29]:
X_test.head()

,age_Young,age_Adult,age_Old,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,education_Assoc-acdm,...,race_White,gender_Female,gender_Male,hours-per-week_lesser hours,hours-per-week_normal hours,hours-per-week_extra hours,native-country_Other,native-country_United-States,captial diff_minor,captial diff_major
0,0,1,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
1,0,1,0,0,0,1,0,0,0,1,...,1,0,1,0,0,1,0,1,1,0
2,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,1,0
3,1,0,0,0,0,1,0,0,0,0,...,1,0,1,1,0,0,0,1,1,0
4,0,1,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,0,1,1,0

In [30]:
X_test.to_csv('test_data.csv')